@import '../../assets/scss/variables/colors.scss';

.video-link {
    flex-shrink: 0;
    text-decoration: none;
    color: #17171e;

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    img {
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    h3 {
        margin: 0;
        padding: 0;
        padding: 0 5px;
        color: #222;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
}

.skeleton > h3 {
    height: 40px;
    white-space: pre-wrap;
    overflow: hidden;
}

.skeleton p {
    margin: 0;
    padding: 0;
    color: #222;
    opacity: 0.4;
}

